:root{
    --yellow: #FAB637;
    --red:#FF4848;
    --orange:#CC6119;
    --gray: #71767c;
    --grayLight: #9da2ac;
    --dark:#232628;
    --blue:#6C98E1 ;

}


.text-yellow{
   color: var(--yellow);
}

.text-red{
    color: var(--red);
 }

 .text-orange{
    color: var(--orange);
 }

 .text-gray{
    color: var(--gray);
 }

 .text-grayLight{
   color: var(--grayLight);
}

 .text-dark{
    color: var(--dark);
 }

 .text-blue{
    color: var(--blue);
 }

 .active{
   background-color: #CC6119;
}

/* Personnalisation de classes créées*/


 hr{
   border-top: 2px solid black;
  }

  .section2{
   background-image: url(../images/vente-location.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   max-width: 8000px;
   margin-left: 0;
   margin-right: 0;
  }

  .location{
background-color: var(--yellow);
opacity: 0.8;
  }

.buy{
   background-color: var(--red);
   opacity: 0.8;
}

.recentCars{
background-color: var(--dark);
}

.rowCar{
   background-color: var(--gray);
}