:root{
    --yellow: #FAB637;
    --red:#FF4848;
    --orange:#CC6119;
    --gray: #71767c;
    --grayLight: #9da2ac;
    --dark:#232628;
    --blue:#6C98E1 ;

}


.text-yellow{
   color: var(--yellow);
}

.text-red{
    color: var(--red);
 }

 .text-orange{
    color: var(--orange);
 }

 .text-gray{
    color: var(--gray);
 }

 .text-grayLight{
   color: var(--grayLight);
}

 .text-dark{
    color: var(--dark);
 }

 .text-blue{
    color: var(--blue);
 }

 .active{
   background-color: #CC6119;
 }

/* Personnalisation des */
.locationCard{
   background-image: url(../images/vente-location.jpg);
   background-repeat: no-repeat;
   margin: 0;
   width: 100%
}

 hr{
   border-top: 2px solid black;
  }
  .form-bg{
   background-color: #dddfe4;
   border-radius: 0%;
}